[Match]
Name=eth*
KernelCommandLine=!nfsroot

[Network]
DHCP=%%DHCP_MODE%%
DNS=%%DNS_SERVER%%

%%STATIC%%Address=%%STATIC_IP%%/24
%%STATIC%%Gateway=%%GATEWAY_IP%%
