[Match]
Name=wlan*
KernelCommandLine=!nfsroot

[Network]
DHCP=%%DHCP_MODE%%
DNS=%%DNS_SERVER%%

%%IP_V4%%Address=%%STATIC_IP_V4%%/24
%%IP_V4%%Gateway=%%GATEWAY_IP_V4%%

%%IP_V6%%Address=%%STATIC_IP_V6%%/24
%%IP_V6%%Gateway=%%GATEWAY_IP_V6%%